<template>
    <div class="price_item">
        <div class="image_box" v-if="item?.icon?._id">
            <img :src="generateAssetLink(item.icon._id)" alt="price image">
        </div>
        <div class="price_description_box">
            <span class="title">{{ item.title }}</span>
            <span class="price">{{ item.price.toLocaleString() }} ₽</span>
            <div class="price_services_list" v-if="item?.services?.length">
                <span v-for="(service, index) in item.services">{{ service }}</span>
            </div>

        </div>
    </div>
</template>
<script setup>

const props = defineProps({
    item: {
        type: Object,
    }
})
</script>
<style lang="scss" scoped>
.price_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    // padding: 15px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #343434;
    width: 100%;
    transition: .2s;
    border: 2px solid transparent;

    @media (min-width: 768px) {
        width: calc(100% / 2 - (35px / 2));
    }
    &:hover {
        background-color: $main-color;
        box-shadow: 0 3px 15px $main-color;
        border: 2px solid $main-color;

        .price_services_list {
            border: 1px dotted rgba($color: #ffffff, $alpha: 1);


            span {

                &::after {
                    color: #fff;
                }

                &:not(:last-child) {
                    border-bottom: 1px dotted rgba($color: #ffffff, $alpha: 1);
                }
            }
        }
    }

    &:nth-child(even) {
        box-shadow: 0 3px 15px $main-color;
        border: 2px solid $main-color;
    }

    .price_description_box {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .title {
        font-size: 18px;
        display: block;
        text-align: center;
        font-weight: 600;
        color: #fdfdfd;
    }

    .price {
        font-size: 36px;
        display: block;
        text-align: center;
        font-weight: 600;
        color: #fdfdfd;
    }
}

.price_services_list {
    display: flex;
    flex-direction: column;
    border: 1px dotted rgba($color: #ffffff, $alpha: 0.1);
    border-radius: 12px;

    span {
        position: relative;
        display: block;
        padding: 15px 30px 15px 15px;
        color: #fdfdfd;
        font-size: 14px;

        &::after {
            content: '\2713';
            position: absolute;
            color: $main-color;
            font-size: 24px;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
        }

        &:not(:last-child) {
            border-bottom: 1px dotted rgba($color: #ffffff, $alpha: 0.1);
        }
    }
}

.image_box {
    background: #343434;
    width: 100%;
    text-align: center;
    padding: 15px;

    img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1200px) {
    .price_item {
        width: calc(100% / 3 - (35px * 2 / 3));
    }
}
</style>