<template>
    <div class="item">
        <div class="image_box">
            <img v-if="item?.image" :src="generateAssetLink(item.image._id)" alt="">
        </div>
        <div class="description_box">
            <span class="name">{{ item.name }}</span>
            <span class="job">{{ item.job }}</span>
            <span class="description">{{ item.description }}</span>
        </div>
        <div class="links_box">

            <nuxt-link v-if="item?.telegram" :to="item.telegram" class="link telegram_item" target="_blank">
                <div class="icon telegram"></div>
            </nuxt-link>
            <nuxt-link v-if="item?.vk" :to="item.vk" class="link vk_item" target="_blank">
                <div class="icon vk"></div>
            </nuxt-link>
            <nuxt-link v-if="item?.whatsapp" :to="item.whatsapp" class="link whatsapp_item" target="_blank">
                <div class="icon whatsapp"></div>
            </nuxt-link>
            <nuxt-link v-if="item?.viber" :to="item.viber" class="link viber_item" target="_blank">
                <div class="icon viber"></div>
            </nuxt-link>
        </div>
    </div>
</template>
<script setup>

const props = defineProps({
    item: {
        type: Object,
    }
})
</script>
<style lang="scss" scoped>
.item {
    background-color: #343434;
    border-radius: 4px;
    padding: 65px 15px 15px;
    position: relative;
    width: 100%;
	

    @media (min-width: 576px) {
        width: calc(100% / 2 - (35px * 1 / 2));

    }

    @media (min-width: 768px) {
        width: calc(100% / 3 - (35px * 2 / 3));

    }

    @media (min-width: 1200px) {
        width: calc(100% / 4 - (35px * 3 / 4));

    }

    .image_box {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 100px;
        width: 100px;
        aspect-ratio: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .description_box {
        display: flex;
        flex-direction: column;

        .name {
            font-size: 16px;
            display: block;
            text-align: center;
            font-weight: 400;
            color: #d5d5d5;
        }

        .job {
            font-size: 12px;
            display: block;
            text-align: center;
            font-weight: 400;
            color: $main-color;
        }

        .description {
            font-size: 12px;
            color: #d5d5d5;
            margin-top: 20px;
        }
    }
}

.links_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    margin-top: 30px;
}

.link {
    padding: 5px;

    &.telegram_item:hover {
        .icon {
            background-color: #0088cc;
            box-shadow: 0 3px 15px #0088cc;
        }
    }

    &.whatsapp_item:hover {
        .icon {
            background-color: #25d366;
            box-shadow: 0 3px 15px #25d366;
        }

    }

    &.vk_item:hover {

        .icon {
            background-color: #45668e;
            box-shadow: 0 3px 15px #45668e;
        }
    }

    &.viber_item:hover {

        .icon {
            background-color: #59267c;
            box-shadow: 0 3px 15px #59267c;
        }
    }
}

.icon {
    mask-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-color: #999;
    transition: .2s;
}

.telegram {
    mask-image: url('~/assets/images/telegram.svg');
}

.vk {
    mask-image: url('~/assets/images/vk.svg');
}

.whatsapp {
    mask-image: url('~/assets/images/whatsapp.svg');
}

.viber {
    mask-image: url('~/assets/images/viber.svg');
}
</style>