html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    font-family: 'Helvetica', sans-serif;
}

#__nuxt,
body {
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $main-text-color;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}

.page_container {
    max-width: 1240px;
    margin: 0 auto;
}

.container {
    padding: 15px 35px;
}

.default_box {
    border-radius: 50px;
    padding: 25px;
}

.default_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.block_title {
    display: block;
    text-align: center;

    h2 {
        display: inline-block;
        position: relative;
        font-size: 18px;
        margin: 0 0 30px;
        z-index: 1;
        padding-bottom: 7px;
        color: #fff;

        @media (min-width: 768px) {
            font-size: 27px;
        }

        &::before {
            display: block;
            position: absolute;
            content: '';
            width: 100%;
            background-color: #353535;
            height: 2px;
            bottom: 0;
        }

        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 30px;
            background-color: $main-color;
            height: 2px;
            bottom: 0;
        }
    }
}

@media (min-width: 576px) {
    .block_title {
        text-align: left;
    }
}