<template>
    <div class="form_container">
        <div class="left_box glassmorphism">
            <div>
                <label for="">Имя</label>
                <input type="text">
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
    .form_container {
        display: flex;
        padding: 25px;

        .left_box {
            width: calc(100% / 2 - (15px / 2));
            padding: 25px;
            border-radius: 12px;
        }
    }
</style>