<template>
    <footer>
        <span class="developer">Разработка <nuxt-link to="https://wa.me/79990884329" target="_blank">Konstantin
                Vasilyev</nuxt-link> - Development SPB</span>
    </footer>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
footer {
    width: 100%;
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 35px;
    display: flex;
    align-items: center;
    gap: 15px;

    .developer {
        font-size: 12px;
        color: #d5d5d5;
        text-align: center;
        width: 100%;

        @media (min-width: 768px) {
            width: auto;
            margin-left: auto;
        }
        

        a {
            color: $main-color;
        }
    }
}
</style>