<template>
    <div class="spinner">
        <img src="~/assets/images/preloader_blue_new.png" alt="logo">
    </div>
</template>
<style lang="scss" scoped>
.spinner {
    position: relative;
    width: 40.4px;
    height: 40.4px;
    margin: 20px auto;

    img {
        position: absolute;
        height: 64px;
        width: 64px;
        top: 50%;
        left: 50%;
        transform: translate(-40%,-40%);
    }
}

.spinner::before,
.spinner::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    animation: spinner-b4c8mmmd 0.5s backwards, spinner-49opz7md 1.25s 0.5s infinite ease;
    // border: 2.6px solid $main-color;
    border-radius: 50%;
    box-shadow: 0 -33.6px 0 -12.6px $main-color;
    position: absolute;    
}

.spinner::after {
    animation-delay: 0s, 1.25s;
}

@keyframes spinner-b4c8mmmd {
    from {
        box-shadow: 0 0 0 -5.6px $main-color;
    }
}

@keyframes spinner-49opz7md {
    to {
        transform: rotate(360deg);
    }
}
</style>