<template>
    <nav>
        <div class="logo_box">
            <NuxtLink to="/">
                <img src="~/assets/images/logo_gray.png" alt="logo">
            </NuxtLink>
        </div>
        <button @click="isOpen = true" type="button" class="open_btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="link_box" :class="{ active: isOpen }">
            <button @click="isOpen = false" type="button" class="close_btn">
                <div class="cross"></div>
            </button>
            <NuxtLink v-for="(item, index) in links" :key="index" class="link" :to="item.link">
                {{ item.title }}
            </NuxtLink>
        </div>
    </nav>
</template>
<script>
export default {
    data() {
        return {
            isOpen: false,
            links: [
                {
                    title: 'Команда',
                    link: '/employees'
                },
                {
                    title: 'Портфолио',
                    link: '/portfolio'
                },
                {
                    title: 'Услуги',
                    link: '/services'
                },
                {
                    title: 'Цены',
                    link: '/price'
                },
                {
                    title: 'Сотрудничество',
                    link: '/cooperation'
                },
                {
                    title: 'Контакты',
                    link: '/contacts'
                },
            ]
        }
    },
    methods: {
        openCloseMenu() {

        }
    },
    watch: {
        $route(to, from) {
            this.isOpen = false;
        },
    },
}
</script>
<style lang="scss">
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 99;
    background: #262626;
    padding: 5px 15px;
    color: #fff;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);

    .logo_box {
        max-width: 250px;

        img {
            height: auto;
            max-width: 100%;
        }
    }
    .open_btn {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 32px;
        
        span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: #fff;
        }
    }
    .link_box {
        display: flex;
        flex-direction: column;
        width: 100%;        
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #262626;
        padding: 75px 15px 35px;
        transform: translate3d(100%, 0, 0);
        transition: transform .5s, visibility .5s;
        visibility: hidden;
        border-left: 2px solid rgba($color: #fff, $alpha: 0.1);

        &.active {
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        .close_btn {
            display: flex;
            position: absolute;
            top: 35px;
            left: 25px;
        }

        .cross {
            width: 32px;
            height: 32px;
            position: absolute;

            &::after,
            &::before {
                content: '';
                position: absolute;
                display: block;
                height: 4px;
                width: 100%;
                background-color: #868686;
                transition: .2s;
            }

            &::after {
                transform: rotate(-45deg);
            }

            &::before {
                transform: rotate(45deg);
            }

            &:hover {

                &::after,
                &::before {
                    background-color: $main-color;

                }

            }
        }


        .link {
            color: #f5f5f5;
            font-size: 16px;
            padding: 10px 15px;

            &.router-link-exact-active {
                color: $main-color;
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 576px) {
    nav {
        margin-top: 22px;
    }
}

@media (min-width: 768px) {
    nav {
        flex-wrap: nowrap;
        margin-top: 25px;
        padding: 5px 15px;

        .open_btn {
            display: none;
        }

        .link_box {
            flex-direction: row;
            justify-content: flex-end;
            margin-left: auto;
            gap: 15px;
            visibility: visible;
            position: relative;
            border: none;
            transform: none;
            padding: 0;

            .cross {
                display: none;
            }
            &.active {
                visibility: visible;
            }

            .link {
                padding: 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    nav {
        margin-top: 35px;
        padding: 5px 35px;

        .link_box {
            gap: 35px;

        }
    }
}
</style>