<template>
    <div v-if="item?._id && item?._created" class="success">
        <div>✓</div>
        <span>Спасибо за обращение</span>
        <span>Ваша заявка отправлена!</span>
        <span>В ближайшее время мы Вам перезвоним.</span>
    </div>
    <form v-else @submit.prevent="send">
        <div>
            <input type="text" placeholder="Имя" v-model="form.name" required>
            <input type="text" placeholder="Телефон" v-model="form.phone" required>
            <input type="email" placeholder="E-mail" v-model="form.email" required>
        </div>
        <textarea placeholder="Сообщение" v-model="form.message"></textarea>
        <button class="send_btn" :disabled="form_preloader">
            <span v-if="!form_preloader">Отправить</span>
            <ThePreloader v-else />
        </button>
    </form>
</template>
<script>
export default {
    data() {
        return {
            item: {},
            form_preloader: false,
            form: {
                name: null,
                phone: null,
                email: null,
                message: null,
                status: false
            }
        }
    },
    methods: {
        send() {
            this.form_preloader = true;
            let config = useRuntimeConfig()
            let url = config.public.apiBaseURL + '/content/item/form_users';
            useFetch(url, {
                method: 'POST',
                body: {
                    data: this.form
                }
            }).then(res => {
                this.item = res.data;
            }).finally(() => {
                this.form_preloader = false;
            })

        }
    },
}
</script>
<style lang="scss">
.success {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    color: #fdfdfd;
    font-size: 16px;
    background-color: #343434;
    padding: 15px;
    border-radius: 4px;
    width: 100%;

    &>div {
        font-size: 30px;
        background-color: $main-color;
        padding: 15px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

form>* {
    width: 100%;

    @media (min-width: 768px) {
        width: calc(100% / 2 - (15px / 2));
    }
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    color: #d5d5d5;
    background-color: #333333;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    width: 100%;
    transition: .2s;
}

textarea {
    color: #d5d5d5;
    background-color: #333333;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    resize: none;
    max-height: 183px;
    min-height: 183px;
    transition: .2s;
}

input:focus,
textarea:focus {
    &::placeholder {
        color: #fff;
    }

    background-color: $main-color;
    color: #fff;
}

.send_btn {
    padding: 15px 25px;
    background-color: #333333;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
	    margin-left: auto;
    margin-right: auto;

    &:hover {
        background-color: $main-color;
    }
}
</style>