<template>
    <div class="links_box">
        <div v-if="item?.email?.value" class="item">
            <span class="label">E-mail</span>
            <span class="title">{{ item.email.value }}</span>
            <span v-if="item?.email?.label" class="description">{{ item.email.label }}</span>
        </div>
        <nuxt-link v-if="item?.phone?.length" v-for="(phone, key) in item.phone" :key="key" :to="`tel:${phone.value}`"
            class="item">
            <span class="label">Телефон</span>
            <span class="title">{{ phone.value }}</span>
            <span v-if="phone?.label" class="description">{{ phone.label }}</span>
        </nuxt-link>
        <nuxt-link v-if="item?.telegram" :to="item.telegram" class="item telegram_item" target="_blank">
            <span class="label">Telegram</span>
            <div class="icon telegram"></div>
        </nuxt-link>
        <nuxt-link v-if="item?.vk" :to="item.vk" class="item vk_item" target="_blank">
            <span class="label">ВКонтакте</span>
            <div class="icon vk"></div>
        </nuxt-link>
        <nuxt-link v-if="item?.whatsapp" :to="item.whatsapp" class="item whatsapp_item" target="_blank">
            <span class="label">Whats App</span>
            <div class="icon whatsapp"></div>
        </nuxt-link>
        <nuxt-link v-if="item?.viber" :to="item.viber" class="item viber_item" target="_blank">
            <span class="label">Viber</span>
            <div class="icon viber"></div>
        </nuxt-link>
    </div>
</template>
<script setup>
const props = defineProps({
    item: {
        type: Object,
    }
})
</script>
<style lang="scss" scoped>
.block_title {
    margin-bottom: 30px;

    h2 {
        margin-bottom: 15px;
    }

    &>div {
        font-size: 16px;
        display: block;
        color: #fdfdfd;
    }

}

.links_box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.item {
    border-radius: 4px;
    padding: 35px;
    background-color: #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: #999;
    width: 100%;
    position: relative;
    transition: .2s;
    border: 2px solid transparent;

    @media (min-width: 768px) {
        width: calc(100% / 2 - (15px / 2));
    }

    @media (min-width: 1200px) {
        width: calc(100% / 3 - (15px * 2 / 3));
    }

    &:hover:not(.telegram_item):not(.vk_item):not(.whatsapp_item):not(.viber_item) {
        background-color: $main-color;
        box-shadow: 0 3px 15px $main-color;
        border: 2px solid $main-color;

        &>span {
            color: #fff;
        }

        .label {
            background-color: #343434;
        }
    }

    &.telegram_item:hover {
        background-color: #0088cc;
        box-shadow: 0 3px 15px #0088cc;
        border: 2px solid #0088cc;

        .icon {
            background-color: #fff;
        }

        .label {
            background-color: #343434;
        }
    }

    &.whatsapp_item:hover {
        background-color: #25d366;
        box-shadow: 0 3px 15px #25d366;
        border: 2px solid #25d366;

        .icon {
            background-color: #fff;
        }

        .label {
            background-color: #343434;
        }
    }

    &.vk_item:hover {
        background-color: #45668e;
        box-shadow: 0 3px 15px #45668e;
        border: 2px solid #45668e;

        .icon {
            background-color: #fff;
        }

        .label {
            background-color: #343434;
        }
    }

    &.viber_item:hover {
        background-color: #59267c;
        box-shadow: 0 3px 15px #59267c;
        border: 2px solid #59267c;

        .icon {
            background-color: #fff;
        }

        .label {
            background-color: #343434;
        }
    }

    .label {
        position: absolute;
        top: 5px;
        left: 5px;
        background-color: $main-color;
        padding: 2px 6px;
        border-radius: 4px;
        font-size: 12px;
        color: #fff;
        transition: .2s;
    }

    &>span {
        display: block;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
    }

    .description {
        font-size: 14px;
    }

    .icon {
        mask-repeat: no-repeat;
        height: 80px;
        width: 80px;
        background-color: #999;
        transition: .2s;
    }

    .telegram {
        mask-image: url('~/assets/images/telegram.svg');
    }

    .vk {
        mask-image: url('~/assets/images/vk.svg');
    }

    .whatsapp {
        mask-image: url('~/assets/images/whatsapp.svg');
    }

    .viber {
        mask-image: url('~/assets/images/viber.svg');
    }
}
</style>