<template>
    <div id="app">
        <div class="page_container">
            <TheTopNavbar />
            <main>
                <slot />
            </main>
            <TheFooter />
        </div>
    </div>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
#app {
    min-height: 100vh;
    display: flex;
    background-color: $main-color;
    background-image: url('~/assets/images/bg-footer.png');

    .page_container {
        flex-grow: 1;
        background-color: #262626;
        align-self: flex-start;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100%;
        position: relative;
        justify-self: center;
        padding: 15px;
    }
}

@media (min-width: 576px) {
    #app {
        padding: 25px;

        .page_container {
            border-radius: 25px;
            min-height: auto;
        }

        main {
            padding: 25px;
        }
    }
}

@media (min-width: 768px) {
    #app {
        padding: 50px 15px;

        .page_container {
            border-radius: 25px;
        }

        main {
            padding: 50px 15px;
        }
    }
}

@media (min-width: 1200px) {
    #app {
        padding: 50px;

        main {
            padding: 50px 35px;
        }
    }
}
</style>