<template>
    <div v-if="preloader">
        <div v-if="item">
            <div class="block_title" v-if="item.title || item.description">
                <h2 v-if="item.title">{{ item.title }}</h2>
                <div v-if="item.description" v-html="item.description"></div>
            </div>
            <ContactsLinks :item="item" />
            <div class="block_title contact_title">
                <h2>Оставьте контакты и мы Вам перезвоним</h2>
            </div>
            <ContactsContactForm />
        </div>
    </div>
    <ThePreloader v-else />
</template>

<script>
export default {
    data() {
        return {
            preloader: false,
            item: {}
        }
    },
    methods: {
        api() {
            this.preloader = false;
            let config = useRuntimeConfig()
            let url = config.public.apiBaseURL + '/content/item/contacts';
            useFetch(url).then(res => {
                this.item = res.data;
            }).finally(() => {
                this.preloader = true;
            })
        }
    },
    setup() {
        useSeoMeta({
            title: 'Контакты',
            description: 'Контакты',
        })

    },
    created() {
        this.api();
    }
}
</script>
<style lang="scss" scoped>
.block_title {
    margin-bottom: 30px;

    h2 {
        margin-bottom: 15px;
    }

    &>div {
        font-size: 16px;
        display: block;
        color: #fdfdfd;
    }

}

.contact_title {
    margin-top: 35px;
}
</style>