<template>
    <section>
        <div v-if="preloader">
            <div v-if="items?.length" class="blocks_list">
                <div v-for="block in items" :key="block._id">
                    <div class="block_title">
                        <h2>{{ block.title }}</h2>
                    </div>
                    <div class="default_list">
                        <div v-for="item in block.items" :key="item._id" class="item">
                            <nuxt-link v-if="item.link" :to="item.link" target="_blank">
                                <div class="image_box" v-if="item?.image?._id">
                                    <img :src="generateAssetLink(item.image._id)" alt="price image">
                                </div>
                                {{ item.title }}
                            </nuxt-link>
                            <div v-else>
                                <div class="image_box" v-if="item?.image?._id">
                                    <img :src="generateAssetLink(item.image._id)" alt="price image">
                                </div>
                                {{ item.title }}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <ThePreloader v-else />
    </section>
</template>

<script>
export default {
    data() {
        return {
            preloader: false,
            items: []
        }
    },
    methods: {
        api() {
            this.preloader = false;
            let config = useRuntimeConfig()
            let url = config.public.apiBaseURL + '/content/items/cooperations';
            useFetch(url, {
                params: {
                    populate: 1
                }
            }).then(res => {
                this.items = res.data;
            }).finally(() => {
                this.preloader = true;
            })
        }
    },
    setup() {
        useSeoMeta({
            title: 'Сотрудничество',
            description: 'Сотрудничество',
        })

    },
    created() {
        this.api();
    }
}
</script>
<style lang="scss" scoped>
.blocks_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (min-width: 768px) {
    .blocks_list {
        gap: 15px;
    }
}

.default_list {
    gap: 15px;
}

.item {
    width: 100%;
    transition: .2s;
    border-radius: 4px;
    overflow: hidden;
    padding: 15px;

    @media (min-width: 450px) {
        width: calc(100% / 2 - (15px / 2));

    }

    @media (min-width: 768px) {
        width: calc(100% / 3 - (35px * 2 / 4));

    }

    @media (min-width: 1024px) {
        width: calc(100% / 4 - (35px * 3 / 4));

    }

    &:hover {
        background-color: $main-color;
        // transform: translateY(-3px);

    }

    &>* {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #fff;

        .image_box {
            background-color: #fff;
            border-radius: 4px;
            aspect-ratio: 16 / 9;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                height: auto;
            }

        }

    }

}
</style>