<template>
    <section>
        <div class="block_title">
            <h2>Команда</h2>
        </div>
        <div v-if="preloader">
            <div class="default_list" v-if="items?.length">
                <EmployeesItem v-for="(item, index) in items" :key="index" :item="item" />
            </div>
        </div>
        <ThePreloader v-else />
    </section>
</template>

<script>
export default {
    data() {
        return {
            preloader: false,
            items: []
        }
    },
    methods: {
        api() {
            this.preloader = false;
            let config = useRuntimeConfig()
            let url = config.public.apiBaseURL + '/content/items/employees';
            useFetch(url).then(res => {
                this.items = res.data;
            }).finally(() => {
                this.preloader = true;
            })
        }
    },
    setup() {
        useSeoMeta({
            title: 'Команда',
            description: 'Команда',
        })

    },
    created() {
        this.api();
    }
}
</script>
<style lang="scss" scoped>
.block_title {
    margin-bottom: 70px;

    h2 {
        margin-bottom: 15px;
    }

    &>div {
        font-size: 16px;
        display: block;
        color: #fdfdfd;
    }

}

.contact_title {
    margin-top: 35px;
}

.default_list {
    row-gap: 70px;
}
</style>