<template>
    <section>
        <div v-if="item?.start_image" class="start_image_box">
            <img :src="generateAssetLink(item.start_image._id, 1000, 1000)" alt="start image">
        </div>
        <div v-if="item?.description" v-html="item.description" class="description">

        </div>
        <div v-if="item?.frameworks">
            <div class="block_title contact_title">
                <h2>Мы работаем с этими фреймворками</h2>
            </div>
            <div class="default_list">
                <div v-for="(framework, key) in item.frameworks" :key="key" class="image_item">
                    <img :src="generateAssetLink(framework._id)" alt="image">
                </div>
            </div>
        </div>
        <div v-if="item?.languages">
            <div class="block_title contact_title">
                <h2>И этими языками</h2>
            </div>
            <div class="default_list">
                <div v-for="(language, key) in item.languages" :key="key" class="image_item">
                    <img :src="generateAssetLink(language._id)" alt="image">
                </div>
            </div>
        </div>
        <div class="block_title contact_title">
            <h2>Оставьте контакты и мы Вам перезвоним</h2>
        </div>
        <ContactsContactForm />
    </section>
</template>
<script>
export default {
    data() {
        return {
            preloader: false,
            item: {}
        }
    },
    methods: {
        api() {
            this.preloader = false;
            let config = useRuntimeConfig()
            let url = config.public.apiBaseURL + '/content/item/home';
            useFetch(url).then(res => {
                this.item = res.data;
            }).finally(() => {
                this.preloader = true;
            })
        }
    },
    created() {
        this.api();
    }
}
</script>
<style lang="scss" scoped>
section {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.start_image_box {
    
    img {
        max-width: 100%;
        height: auto;
        border-radius: 32px;
    }
}
.description {
    color: #d5d5d5;
    font-size: 16px;
    background-color: #343434;
    padding: 15px;
    border-radius: 4px;
    white-space: pre-line;
}

.default_list {
    gap: 35px;
	  display: flex;
  justify-content: center;
	
}

.image_item {
    width: calc(100% / 3 - (35px * 2 / 3));

    @media (min-width: 576px) {
        width: calc(100% / 4 - (35px * 3 / 4));

    }

    @media (min-width: 768px) {
        width: calc(100% / 6 - (35px * 5 / 6));

    }

    @media (min-width: 1024px) {
        width: calc(100% / 8 - (35px * 7 / 8));

    }

    &:hover {
        img {
            opacity: 0.7;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        opacity: 0.2;
        transition: .2s;
    }
}
</style>