<template>
    <section>
        <div class="block_title">
            <h2>Портфолио</h2>
        </div>
        <div v-if="preloader">
            <div class="default_list" v-if="items?.length">
                <PortfolioItem v-for="(item, index) in items" :key="index" :item="item" />
            </div>
        </div>
        <ThePreloader v-else />
    </section>
</template>
<script>
export default {
    data() {
        return {
            preloader: false,
            items: []
        }
    },
    methods: {
        api() {
            this.preloader = false;
            let config = useRuntimeConfig()
            let url = config.public.apiBaseURL + '/content/items/services';
            useFetch(url, {
                params: {
                    sort: {
                        order: 1
                    },
                }
            }).then(res => {
                this.items = res.data;
            }).finally(() => {
                this.preloader = true;
            })
        }
    },
    setup() {
        useSeoMeta({
            title: 'Портфолио',
            description: 'Портфолио',
        })

    },
    created() {
        this.api();
    }
}
</script>
<style lang="scss">
.default_list {
    gap: 15px;
}

@media (min-width: 1200px) {
    .default_list {
        gap: 35px;
    }
}
</style>