<template>
    <section>
        <div class="block_title">
            <h2>Услуги</h2>
        </div>
        <div v-if="preloader">
            <div class="default_list" v-if="items?.length">
                <ServicesItem v-for="(item, index) in items" :key="index" :item="item" />
            </div>
        </div>
        <ThePreloader v-else />
    </section>
</template>
<script>
export default {
    data() {
        return {
            preloader: false,
            items: []
        }
    },
    methods: {
        api() {
            this.preloader = false;
            let config = useRuntimeConfig()
            let url = config.public.apiBaseURL + '/content/items/goods';
            useFetch(url).then(res => {
                this.items = res.data;
            }).finally(() => {
                this.preloader = true;
            })
        }
    },
    setup() {
        useSeoMeta({
            title: 'Услуги',
            description: 'Услуги',
        })

    },
    created() {
        this.api();
    }
}
</script>
<style lang="scss"></style>