<template>
    <div class="item">
        <div class="image_box" v-if="item?.image?._id">
            <img :src="generateAssetLink(item.image._id)" alt="service image">
        </div>
        <span>{{ item.title }}</span>
    </div>
</template>
<script setup>

const props = defineProps({
    item: {
        type: Object,
    }
})
</script>
<style lang="scss" scoped>
.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    // background-color: #333;
    padding: 15px 10px;
    // border: 2px solid #444;
    border-radius: 12px;
    transition: .2s;

    &:hover {
        background-color: $main-color;
        // transform: translateY(-3px);

        img {
            transform: scale(1.1);
        }
    }

    .image_box {
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: 12px;

        img {
            height: auto;
            max-width: 100%;
            transition: .5s;
        }
    }

    span {
        display: block;
        font-size: 16px;
        color: #d5d5d5;

    }
}

@media (min-width: 450px) {
    .item {
        width: calc(100% / 2 - (15px / 2));
    }
}

@media (min-width: 768px) {
    .item {
        width: calc(100% / 3 - (15px * 2 / 3));
    }
}

@media (min-width: 1200px) {
    .item {
        width: calc(100% / 3 - (35px * 2 / 3));
    }
}
</style>