<template>
    <div class="service_item">
        <span class="title">{{ item.title }}</span>
        <div v-html="item.description" class="description"></div>
    </div>
</template>
<script setup>

const props = defineProps({
    item: {
        type: Object,
    }
})
</script>
<style lang="scss">
.service_item {
    width: 100%;
    background-color: #343434;
    border: 2px solid transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
    position: relative;
    z-index: 1;
    transition: .2s;

    @media (min-width: 1200px) {
        width: calc(100% / 2 - (35px / 2));
    }

    &:hover {
        background-color: $main-color;
        box-shadow: 0 3px 15px $main-color;
        border: 2px solid $main-color;

    }

    .title {
        font-size: 19px;
        color: #fdfdfd;
        text-transform: uppercase;
        margin: 0 auto;
        position: relative;
        z-index: 1;

    }

    .description {
        font-size: 14px;
        color: #fdfdfd;
        display: block;
    }

}
</style>